:root {
  --color-primary: #01aa39;
  --bg-primary: rgb(238, 228, 228);
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: Mitr;
  background: var(--bg-primary);
}
.vjs-button > .vjs-icon-placeholder:before, .video-js .vjs-big-play-button .vjs-icon-placeholder:before {
  text-align: center;
}
